<div class="container-fluid bg-dark text-white p-4 d-flex justify-content-center align-center">
  <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link {{ 'active' if acitve_page == 'vercompanies' }}" aria-current="page" href="/companies?id_owner={{ owner_id }}">ver compañias</a>
   <a class="flex-sm-fill text-sm-center nav-link {{ 'active' if active_page == 'crear' }} " href="/company-form?mod=registrado&owner_id={{ owner_id }}">crear compañia</a>
   <a class="flex-sm-fill text-sm-center nav-link" href="/">Inicio</a>
  </nav>
</div>