{% extends 'base.html' %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', path='css/mapa.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}

{% block content %}

<body>

{% if mod == 'person' %}
    {% include 'navbar.html' %}
{% elif mod == 'owner' %}
    {% include 'navbarowner.html' %}
{% endif %}

<form method="get" action="/location-search">

    <div class="container d-flex justify-content-center align-items-center gap-3 p-2 mt-4">

        <div class="container bg-dark text-white d-flex justify-content-center rounded-3 p-2 gap-3">

            <input name="name" class="form-control form-control-sm flex-grow-1"
                   type="text" placeholder="nombre gimnasio"
                   aria-label=".form-control-lg example"
            >

            <select name="category" class="form-select w-auto" aria-label="Default select example">
                <option value="Traditional">Tradicional</option>
                <option value="Boxing">Boxing</option>
                <option value="Crossfit">Crossfit</option>
                <option value="Martial Arts">Martial Arts</option>
                <option value="Climbing">Climbing</option>
                <option value="Aquatic">Aquatic</option>
                <option value="Yoga">Yoga</option>
                <option value="Dance">Dance</option>
                <option value="Boutique">Boutique</option>
            </select>

        </div>

        <button type="submit" class="btn btn-primary">Buscar</button>

    </div>
    
</form>

<div class="mt-5 d-flex justify-content-center">
    <div id="map"></div>

    <div class="card" style="width: 18rem;">
        <img id="img" src="{{ url_for('static', path='img/img_icon.png') }}"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 id="nombre" class="card-title">selecciona un gimnasio</h5>
            <p id="descripcion" class="card-text"></p>
            <a href="#" class="btn btn-primary">ver gimnasio</a>
        </div>
    </div>
</div>

<script>
    const GYMS = {{ locations | tojson }};
</script>

<script src="{{ url_for('static', path='mapa.js') }}"></script>

</body>
</html>

{% endblock %}